<div class="wrapper">
    <div class="title">
     Add Account
    </div><form (ngSubmit)="onSubmit()" action="">
    <div class="form">
       <div class="inputfield">
          <label>Name</label>
          <input type="text" class="input" id="name" name="Name" placeholder="Enter Name" [(ngModel)]="account.accountholdername" required >
       </div>  
       <br>  
       <div class="inputfield">
        <label>Account Type</label>
        <input type="text" class="input" id="accounttype" name="accounttype" placeholder="accounttype" [(ngModel)]="account.accounttype" required >
      </div> 
      <br>
       <div class="inputfield">
          <label>Account Number</label>
          <input type="Account Number" id="accountnumber" name="Accountnumber" class="input" placeholder="Accountnumber" [(ngModel)]="account.accountnumber" required >
       </div> 
       <br>
      <div class="inputfield">
          <label>Account Balance</label>
          <input type="Account Balance" class="input" id="accountbalance" name="AccountBalance" placeholder="AccountBalance" [(ngModel)]="account.accountBalance" required >
       </div> 
      <br> 
    
      <div class="inputfield">
        
        <button class="btn btn-success" type="submit" style="margin-bottom: 30px;margin-left: 47%;">submit</button>
      </div>
    </div>
    </form>
</div>